.main-body{
    white-space: pre-wrap;
    font-size:20px;
    width: 40%;
    margin-right:50px;
}

.main-section {
 display:flex;
 margin-top:0px;
 
}

.name{
    font-size: 22px;
    margin-bottom: 0px;
    padding:0px;
    margin-top: 0px;
}

.main-image-container{
    width: 60%;
    object-fit:contain;
}

.main-image {
    width: 100%;
    height:auto;
    object-fit:contain;
}