<div class="wrapper" @fadeInOut>
    <div style="width:100%">
       
        <div class="main-section">
            <div class="main-body">
                <h2 class="name">
                    <editable-text 
                    [value]="pageJson.title"
                    [canEdit]="userService.admin.editMode"
                    (onFinishedEditing)="pageJson.title = $event.value; updatePageJson()"
                    ></editable-text>
            
                </h2>
                <p >
                    <editable-text 
                    [value]="pageJson.bodyText"
                    [canEdit]="userService.admin.editMode"
                    (onFinishedEditing)="pageJson.bodyText = $event.value; updatePageJson()"
                    [longForm]="true"
                    ></editable-text>
                </p>

            </div>
            <div class="main-image-container">
                <editable-image
                [imageUrl] = "environment.server.protocol+'://'+environment.server.host+'/'+mainImageUrl"
                (imageChange)="updateMainImage($event)"
                [editMode] = "userService.admin.editMode"
                >

                </editable-image>
            </div>
        </div>
    </div>
    
</div>