<!-- <div class="skewed-container"> -->
<div>
    <h1 class="name" (click)="openLink('about-me')">RUCHI MANIAR</h1>
</div>


<nav class="centered-navbar">
    <ul>
      <li [ngClass]="{'active':(activeTab$ | async) == 'about-me'}"><a href="about-me">ABOUT ME</a></li>
      <div class="dropdown">
        <li  [ngClass]="{'active':(activeTab$ | async) == 'gallery'}"><a>PORTFOLIO</a></li>
        <div class="dropdown-content dropdown-menu-animate">
            <a *ngFor="let subTab of portfolioSubTabs; let index=index" [href]="'gallery/' + subTab.name" [ngClass]="'dropdown_item-' + index" [class.active]="(activeSubTab$ | async) == subTab.displayName">
            {{ subTab.displayName }}
            </a>
            <a  *ngIf='admin.adminMode' [ngClass]="'dropdown_item-' + portfolioSubTabs?.length" (click)="openAddCategory()"><i class="fa fa-gear" style="margin-right:10px;"></i>Add Category</a>
         </div>
      </div>
      
      <li [ngClass]="{'active':(activeTab$ | async)  == 'contact'}"><a href="contact">CONTACT</a></li>
    </ul>
</nav>