@import url('../../variables.less');
.gallery-image{
    width: 400px;
    height:400px;
    margin:0px;
}

.category-header{
    text-align: center;
    font-size:50px;
    margin:20px;

}

.headers-container{
    margin:auto;
    display:flex;
    width:100%;
    margin-top: 150px;
    margin-bottom: 120px;
}
.headers{
    margin:auto;
    font-size: 1em;
    // margin:10px;
}

.headers:hover{
    cursor:pointer;
    color: @tint;
}

.selected{

    color: darken(@tint, 10);
    font-weight: bold;
}


.edit-bar{
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 999;
    height: -moz-fit-content;
    height: fit-content;
    background: #ffffff;
    padding: 10px;
    display: flex;
    align-content: center;

    justify-content: center;
}

.category-edit-button{
    // position: relative;
    // display:block;
    // margin:auto;

    // margin:10px;
    // padding:10px;
    // border: 2px solid fade(@primary, 10);
    // width: 200px
    

}

.upload-image-text{
    color: @primary;
    
}

.btn-row-container{
    display:flex;
    flex-wrap: wrap;
    max-width:90%;
    margin: 10px;
    flex-direction: row;
}

.btn-row-item{
}