@import url('../../variables.less');
.gallery-image{
    width: 400px;
    height:400px;
    margin:0px;
}

.category-header{
    text-align: center;
    font-size:50px;
    margin:20px;

}

.headers-container{
    margin:auto;
    display:flex;
    width:100%;
    margin-top: 150px;
    margin-bottom: 120px;
}
.headers{
    margin:auto;
    font-size: 1em;
    // margin:10px;
}

.headers:hover{
    cursor:pointer;
    color: @tint;
}

.selected{

    color: darken(@tint, 10);
    font-weight: bold;
}

.gallery-container{
    margin-top: 50px;
}

.file-upload-container{
    width: 70%;
    margin:auto;
}
.upload-image-text{
    color: @primary;
    
}