<div class="container">
    <div style="width:90%; margin:auto; position:relative">
        <div *ngIf="userService.admin.loggedIn && userService.admin.editMode" class="edit-bar">
            <button (click)="openCategoryEditor()" class="category-edit-button" >Edit Category</button>
            <button (click)="dragAndDropViewOpen = !dragAndDropViewOpen" class="category-edit-button" >
                {{dragAndDropViewOpen ? "Close Editor" : "Move Images"}}
            </button>
        </div>
        <photo-gallery #photoGallery 
        [(items)]="processedImages" 
        [galleryCategoryProperties]="galleryService.pageJson.galleryCategoryProperties" 
        [editMode] = "userService.admin.editMode" 
        [dragAndDropViewOpen]="dragAndDropViewOpen" 
        @fadeInOut></photo-gallery>
    </div>   
</div>


