
@import url('../../../../variables.less');
.value{
    color:inherit;
    font-size:inherit;
    font-family: inherit !important;
    margin-right:10px;
}

.value.editable:hover{
  cursor: text;
}

.editable-text-container{
  width: 100%;
  display:block;
  min-width: 10px;
  min-height:10px;
  
}

.editable-input{
  width:100%;
  min-width: 10px;
  z-index: 1000;
  position:relative;
  margin-right: 15px;
}
.edit-mode{
  min-width: 10px;
  min-height: 20px;
  border: 1px solid fade(@primary, 20);
}

.long{
  height: 250px;
  min-height:fit-content;
}

.edit-icon{
  color: lightgray;
  position:relative;
}

.value-container{
  display:flex;
  min-height:20px;
}