<div class="side-editor-container" *ngIf="show">
    <div class="exit" (click)="close()">
        
    </div>
    <div class="editor-content-container">
      <h1 class="editor-title">Editor bar!</h1>
        <div class="color-picker-selector">
            <h2>
                Choose background color: 
            </h2><color-picker
            [(color)]="imageValues.background"
            position="bottom-right"
            (colorChange)="updateValues(); "></color-picker>
        </div>
    </div>
</div>